.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.container{

text-align:center !important;
margin-top: 100px !important;
/*background: #E5E5E5 !important;*/
background: black !important;
width: 40% !important;


}


.brand{

margin-left:25px;


}

.field-line{

color:black !important;


}


.label{

  color:black !important;
}
